reports/
flake8-badge.svg
__pycache__/
*.py[cod]
*.pyc
.Python
venv/
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
nohup.out
pip-log.txt
pip-delete-this-directory.txt
cover/
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache/
.pytest_cache
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.log
!ref_*.log
*.pot
docs/_build/
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
.DS_Store
.AppleDouble
.LSOverride
.nohup.out
test/data/temp_results/
testworkflow/
testworkflow*
\#*
mdout.mdp
traj_comp.xtc
.ipynb_checkpoints
.idea
.vscode
.mypy_cache
